.header{
    width:100%;
    height:58px;
    display:flex;
    justify-content: space-around;
    background:lightgray;
    box-shadow: 0 0 10px black;

   
}
.header input{
    width:70%;
    height:40px;
    outline:none;
    margin-top:6px;
    border-radius:100px;
    padding-left:30px;
    border:none;
    background-color: rgba(0, 0, 0, 0.2);
}
.header img{
margin-top:3px;
width:45px;
height:45px;
border-radius:100px;
box-shadow: 0 0 10px black;



}
.cart{
    width:45px;
    height:45px;
    background-image:url("../../assets/images/myfashioncart.jpg");
    background-size:100% 100%;
    text-align:center;
    border-radius: 50%;
    margin-top:4px;
    box-shadow: 0 0 10px black;


}
@media(min-width:320px)and (max-width:768px){
   .header input{
    height:35px;
    margin:10px;
   }
   .header img{
      width:50px;
      height:50px;
      margin:5px;
   }
   .header .cart{
      width:50px;
      height:50px;
      margin:5px;
   }
}
