.contact{
    background:lightgray;
    width:100%;
    text-align:center;
    padding:20px 0px;

  
    display:flex;
  justify-content: space-around;
}
@media(min-width:320px )and (max-width:768px){
  .contact{
    font-size:8px;

  }

}