.fullimg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(134, 139, 130);
    padding-bottom: 30px;
    box-shadow: 0 0 10px black;
    flex-wrap: wrap;
}

.fullimg img {
    width: 500px;
    height: 500px;
}

.cardimg {
    margin-left: 50px;
    margin-top: 30px;
}

.fulldata {
    margin-top: 200px;
    margin-left: 50px;
    text-align: center;
}

.fullimg h1 {
    text-align:center;
}

.fulldata button {
    margin-left: 50px;
    width: 100px;
    height: 30px;
    background: none;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    background:rgb(120, 118, 119);
}

.ful {
    width: 280px;
    height: 400px;
    box-shadow: 0 0 10px black;
    text-align: center;
    margin: 15px auto;
    border-radius:10px;
    background:white;
}

.ful img {
    width: 200px;
    height: 300px;
}

.h11 { 
    box-shadow: 0 0 10px black;
    text-align: center;
    background: rgb(163, 151, 153);
    color: white;
    padding: 10px 0px;
    width: 100%;
    font-size: 30px;
    margin-top: 2px;
    text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 768px) {
    .fullimg {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        height: auto;
    }

    .cardimg {
        margin-left: 0;
        margin-top: 20px;
        width: 200px;
    }

    .fullimg img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .fulldata {
        margin: 20px 0;
        font-size: 12px;
    }

    .fulldata h3 {
        font-size: 14px;
        margin: 0px;
    }

    .fulldata button {
        margin: 10px auto;
        width: 90px;
        display: block;
    }

    .container {
        grid-template-columns: 50% 50%;
        width: 100%;
        gap: 10px;
    }

    .ful {
        width: 150px;
        height: 300px;
        margin: 10px auto;
    }

    .ful img {
        width: 150px;
        height: 200px;
    }
}

@media (max-width: 319px) {
    .fullimg img {
        width: 120px;
        height: 120px;
    }

    .ful {
        width: 120px;
        height: 220px;
    }

    .ful img {
        width: 100px;
        height: 150px;
    }

    .fulldata button {
        width: 80px;
        height: 25px;
    }

    .container {
        grid-template-columns: 100%;
    }
}
@media (min-width: 501px) and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 3 boxes per row */
        gap: 10px;
    }

    .ful {
        width: 150px;
        height: 300px;
    }

    .ful img {
        width: 150px;
        height: 200px;
    }
}
