.nav{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    background-color: black;  
    height:40px;
    text-align:center;
    margin-bottom:0px;
    box-shadow: 0 0 10px black;

    
}
.nav button{
    margin:5px 0px ;
    width:10%;
    height:30px;
    cursor: pointer;
    border:none;
    background:none;
    box-shadow:0px 0px 5px lightgray;
    border-radius: 3px;

}
.h1{
    color:white;
    text-decoration: none;
}
select{
    width:15%;
    height:30px;
    margin-top:5px;
    text-align:center;
    border-radius: 3px;
    box-shadow:0px 0px 5px lightgray;
    background:none;
    color:white;
   outline: none;
}
option{
    background:black;
}
@media(min-width:320px)and (max-width:768px){
    .nav button{
        font-size:10px;
        font-weight:bold;
        height:20px;
        margin-top:10px;
        width:50px;

    }
    select{

        font-size:8px;
        font-weight:bold;
        height:20px;
        margin-top:10px;
    }
} 